.title{
color: rgb(3, 181, 139);
font-size: 36px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 650;
}
.search-bar{
    border: 1px solid gray;
    border-radius: 24px;
    height: 40px;
    gap: 10px;
    align-items: center;
    padding-left: 13px;
}
.search-bar input{
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}
.bi-search{
    text-align: center;
    
}
.side-nav-bar{
    font-size: 22px;
}
.nav-bar{
    background-color:rgb(142, 245, 193) ;
    height: 75px;
    
}
.icon-bar{
    box-shadow: 0px 10px 20px -15px rgb(105, 105, 105);
    transition: 0.6s;
    transform: translateY(-10px);
    margin-right: -10px;
    margin-left: -10px;
    
}